.listItem{
    border: 1px solid rgb(210, 210, 210);
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    border-radius: 5px;
}

.article{
    max-width:1000px;
    margin:4rem auto;
}
@media (max-width: 1050px){
    .article{
        margin: 4rem 1rem;
    }
}
.article > h2{
    text-align: center;
    font-weight:400;
    margin-bottom:1rem;
}

.article p{
    margin-bottom:1rem;
}
.article > div{
    width: max-content;
    margin: 2rem auto;
}
.listItem{
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    column-gap: 1rem;
    margin:0.5rem auto;
    padding:1rem;
}
.listItem > p{
    align-self: center;
}
.listItem > div{
    width: 110px;
    height: auto;
}
.listItem img{
    width: 100%;
    height: auto;
}
@media (max-width: 660px){
    .listItem{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }
    .listItem > div{
        width:150px;
        margin: 2rem auto;
    }
}
.listItem strong{
    font-weight: 500;
}