.header, .header_links, .header_services{
    display:grid;
    display: -ms-grid;
    display: -moz-grid;
}
.header{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    max-width:1400px;
    margin: auto;
    position: sticky;
    top: 0px;
    padding:0.5rem 5rem 0rem 5rem;
    background-color: rgba(255, 255, 255, 0.8);
}
.header ul{
    align-self: center;
}
.logo{
    height:70px;
}
.logo img{
    height:100%;
    width: auto;
}
.header_links{
    grid-template-columns: repeat(3, 120px);
}
.header_services a{
    display: block;
}
.header_services > div:last-of-type{
    position: relative;
    z-index:200;
}
.header_services > div:last-of-type > ul{
    position:absolute;
    width: max-content;
    padding-top: 1rem;
    z-index:200;
    background-color: rgba(255, 255, 255, 0.7);
}
.header_services > div:last-of-type > ul > a{
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    display: block;
    width:max-content;
}
.header_services > div:last-of-type > ul > a:hover{
    border-left: 2px solid orange;
}
.header_services > div:last-of-type > ul > a:not(:last-of-type){
    border-bottom: 1px solid rgb(210, 210, 210);
}
.header_services > div:last-of-type{
    display: none;
}
.header_services:hover div{
    display: block;
}
.header_links a{
    text-decoration: none;
}
.header_services > div:first-of-type:hover{
    cursor: pointer;
}
.bars,.small{
    display: none;
}
.small{
    text-decoration: none;
    color: black;
    align-self: center;
}
.small > h1{
    font-size:1.4rem;
    font-weight: 500;
}
.bars{
    width:33px;
    height:33px;
    align-self: center;
}
.bars > div {
    background-color:black;
    height:2px;
    margin:6px 0px;
    transition: width 0.2s;
}

.bars > div:nth-of-type(2){
    width:50%;
}
.bars > div:last-of-type{
    width:25%;
}
@media(max-width: 767px){
    .header{
        padding:1rem 1.5rem 1rem 1.5rem;
        border: 1px solid rgb(210, 210, 210);
    }
    .logo, .header_links{
        display: none;
    }
    .bars, .small{
        display: block;
    }
}