.header, .header_links, .header_services{
    display:grid;
    display: -ms-grid;
    display: -moz-grid;
}
.header{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    max-width:1400px;
    margin: auto;
    position: sticky;
    top: 0px;
    padding:0.5rem 5rem 0rem 5rem;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid black; */
}
.header ul{
    align-self: center;
}
.logo{
    height:70px;
}
.logo img{
    height:100%;
    width: auto;
}
.header_links{
    grid-template-columns: repeat(3, 120px);
}
.header_services a{
    display: block;
}
.header_services > div:last-of-type{
    position: relative;
    z-index:200;
}
.header_services > div:last-of-type > ul{
    position:absolute;
    width: max-content;
    padding-top: 1rem;
    z-index:200;
    background-color: rgba(255, 255, 255, 0.7);
}
.header_services > div:last-of-type > ul > a{
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    display: block;
    width:max-content;
}
.header_services > div:last-of-type > ul > a:hover{
    border-left: 2px solid orange;
}
.header_services > div:last-of-type > ul > a:not(:last-of-type){
    border-bottom: 1px solid rgb(210, 210, 210);
}
.header_services > div:last-of-type{
    display: none;
}
.header_services:hover div{
    display: block;
}
.header_links a{
    text-decoration: none;
}
.header_services > div:first-of-type:hover{
    cursor: pointer;
}